@model ProjetoRCL.Model.VagasSimilaresModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome a um projet RCL</h1>
    <p>Compartilhando o conteúdo da Razor View no projeto RCL</p>
    <br />
    <partial name="UltimasVagas" model=@Model>
</div>